---
import StarIcon from "lucide-astro/Star";
import ExternalLinkIcon from "lucide-astro/ExternalLink";
---

<a href="/docs/">docs</a>
<a href="/performance/">performance</a>
<a href="/blog/">blog</a>
<a href="https://demo.tako.sh" target="_blank" rel="noopener noreferrer" class="demo-link">
  <span>demo</span>
  <ExternalLinkIcon class="demo-icon" aria-hidden="true" focusable="false" />
</a>
<a href="https://discord.gg/2bvHr6gdbB" target="_blank" rel="noopener noreferrer" class="discord-link" aria-label="Join the Discord community">
  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M20.317 4.369a19.791 19.791 0 0 0-4.885-1.515 13.074 13.074 0 0 0-.625 1.29 18.27 18.27 0 0 0-5.614 0 12.64 12.64 0 0 0-.633-1.29 19.736 19.736 0 0 0-4.885 1.515C.533 9.046-.32 13.58.105 18.057a19.9 19.9 0 0 0 5.993 3.034 14.648 14.648 0 0 0 1.285-2.083 12.923 12.923 0 0 1-2.025-.968c.17-.124.336-.252.496-.383a14.242 14.242 0 0 0 12.292 0c.162.132.328.26.497.383-.647.38-1.326.704-2.028.968.36.733.79 1.43 1.285 2.083a19.856 19.856 0 0 0 6.0-3.034c.5-5.177-.838-9.673-3.583-13.688ZM8.02 15.331c-1.183 0-2.157-1.086-2.157-2.42 0-1.333.956-2.419 2.157-2.419 1.21 0 2.176 1.096 2.157 2.42 0 1.333-.956 2.419-2.157 2.419Zm7.975 0c-1.183 0-2.157-1.086-2.157-2.42 0-1.333.955-2.419 2.157-2.419 1.21 0 2.176 1.096 2.157 2.42 0 1.333-.947 2.419-2.157 2.419Z"></path>
  </svg>
</a>
<a href="https://twitter.com/intent/follow?screen_name=lilienblum" target="_blank" rel="noopener noreferrer" class="x-link" aria-label="Follow on X">𝕏</a>
<a href="https://github.com/tako-sh/tako" target="_blank" rel="noopener noreferrer" class="github-star">
  <StarIcon class="star-icon" aria-hidden="true" focusable="false" />
  <span>github</span>
</a>
